  .container {align-items: center; display: flex;}
  header{width: 100%; height: 10%;}
  .deck, .cdeck, #decks {width: 100%;}
  .deck .card, .cdeck .card {width: 20%;margin: 1%;}
  .score-panel {width: 100%; height: 10%;}
  .popup{width: 100%; height:60%;}
  #layer1, #layer2, #layer3, #layer4 {width: 100%;}
  header, .deck, .score-panel, .popup{
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  }
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
   /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  }
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 30%;
}

/*
 * Styles for the deck of cards
 */
.deck, .cdeck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
.score-panel {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.cdeck .card {
    background: #2e3d49;
}
.deck .card, .cdeck .card {
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open, .cdeck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}
.cdeck .card.show {
    font-size: 33px;
    opacity: 0;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
}
/*
 * Styles for the Score Panel
 */
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size:20px;
    }
.blok{
  width: 25%;
  font-size: large;
}
#layer1, #layer2, #layer3, #layer4 { position:absolute;}
#layer1 {  z-index: 1; height:100%;}
#layer2{z-index: 2; height: 100%;}
#layer3 { z-index: 3; width: 100%; height: 100%;}
#layer4{ z-index: 4; height :40%;}
#finish{height: 50px; width: auto;}
#cdeck{height: 78%;}
#restart{ height: 30%;}
#decks{height: 100%;}
#fon{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
#congrad{
  margin-left: 15%;
  width: 60%;
  height: 30%;
  text-align: center;
}
@media screen and (max-height: 570px) {
  .deck, .cdeck, #decks {height: 82%;}
  .deck .card, .cdeck .card { height: 60px;}
  h1 {font-size: medium;}
  h6{font-size: small;}
  .deck.card.match figure{width: 40px;}
  .deck .card.match img{width: 40px;}
  .figure img{ width: 40px;}
  .deck .card.match figcaption{
      text-align: center;
      width: 40px;
      font-size: x-small;
      color: #ffffff;
  }
  button{
    margin-top: 28%;
      width: 150px;
      margin-left: 110px;
      height: 20%;
  }
}
@media screen and (min-height: 571px) and (max-height: 736px) {
  .deck, .cdeck, #decks {height: 82%;}
  .deck .card, .cdeck .card { height: 80px;}
  h1 {font-size: x-large;}
  h6{font-size: small;}
  .deck.card.match figure{width: 40px;}
  .deck .card.match img{width: 40px;}
  .figure img{ width: 40px;}
  .deck .card.match figcaption{
      text-align: center;
      width: 40px;
      font-size: x-small;
      color: #ffffff;
  }
  button{
    margin-top: 28%;
      width: 150px;
      margin-left: 110px;
      height: 20%;
  }
}
@media screen and (min-height: 737px){
  .deck, .cdeck, #decks {height: 82%;}
  .deck .card, .cdeck .card { height: 100px;}
  h1 {font-size: x-large;}
  h6{font-size: small;}
  .deck.card.match figure{width: 40px;}
  .deck .card.match img{width: 40px;}
  .figure img{ width: 40px;}
  .deck .card.match figcaption{
      text-align: center;
      width: 40px;
      font-size: x-small;
      color: #ffffff;
  }
  button{
    margin-top: 28%;
      width: 150px;
      margin-left: 110px;
      height: 20%;
  }
}
